<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;" />
    <title>about-page</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <div id="wrap">
        <header class="navbar clear-float">
            <div class="container">
                <a class="logo" href="#"><img src="../assets/images/logo.png" alt="logo web"></a>
                <a id="menu-toggle" href="#"><i class="fa fa-bars"></i></a>
                <nav class="navigation">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a href="#">特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">App</a></li>
                                        <li><a href="#">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a class="active" href="#">關於我們</a></li>
                        <li><a href="#">FQA</a></li>
                        <li class="dropdown">
                            <a href="#">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="#">快訊-首頁</a></li>
                                <li><a href="#">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a href="#">聯絡我們</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1 class="title">About Us 關於我們</h1>
            </div>
        </div>

        <div class="about-page">
            <div class="container">
                <div class="two grid mobile-stack-one">
                    <div class="one wide">
                        <div class="image-frame" style="margin-right: 6%;">
                            <img src="../assets/images/ad-slider-1.jpg" alt="ad-picture">
                        </div>
                    </div>
                    <div class="one wide">
                        <div class="post-header">
                            <h1 class="post-title">關於我們大標題</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil facer possim assum.</p>
                    </div>
                </div>

                <div class="post-header">
                    <h1 class="post-title">另外的大標題</h1>
                </div>
                <div class="post-content">
                    <p>There are many variations of passages of Lorem Ipsum available, but theses majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

                    <div class="text-around-picture clear-float">
                        <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                        <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    </div>
                    <div class="post-image-items">
                        <ul class="three grid more-relaxed mobile-stack-one bottom-space">
                            <li class="one wide">
                                <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                <h3 class="item-title">Internet Marketing</h3>
                                <p class="item-intro">Lorem Ipsum, you need to be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                            </li>
                            <li class="one wide">
                                <img src="../assets/images/post-content-img-2.png" alt="post-content-img">
                                <h3 class="item-title">Website Design</h3>
                                <p class="item-intro">Predefined chunks you need be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                            </li>
                            <li class="one wide">
                                <img src="../assets/images/post-content-img-3.png" alt="post-content-img">
                                <h3 class="item-title">Website Development</h3>
                                <p class="item-intro">中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                            </li>
                            <li class="one wide">
                                <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                <h3 class="item-title">Website Development</h3>
                                <p class="item-intro">中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="two grid more-relaxed mobile-stack-one" style="">
                    <div class="one wide">
                        <h1 class="title-left">你為啥要選擇我們</h1>
                        <ul class="question-answer">
                            <li class="active">
                                <h3 class="question">Responsive Theme</h3>
                                <p class="answer">There are many variations the passa available but majority have desktop publishing lipsum page editors printing and typesetting it has been the words.</p>
                            </li>
                            <li>
                                <h3 class="question">Cross Browser Support</h3>
                                <p class="answer">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            </li>
                            <li>
                                <h3 class="question">Responsive Theme</h3>
                                <p class="answer">There are many variations the passa available but majority have desktop publishing lipsum page editors printing and typesetting it has been the words.</p>
                            </li>
                            <li>
                                <h3 class="question">Cross Browser Support</h3>
                                <p class="answer">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="one wide">
                        <h1 class="title-left">我們的歷史</h1>
                        <ul class="history-record">
                            <li>
                                <h3 class="date"><i class="icon fa fa-calendar"></i>2014</h3>
                                <p class="content">There are many variations of passages of lpsum available but the majority have suffered alteration some form by injected humou randomisedwords.</p>
                            </li>
                            <li>
                                <h3 class="date"><i class="icon fa fa-calendar"></i>2013</h3>
                                <p class="content">There are many variations of passages of lpsum available but the majority have suffered alteration some form by injected humou randomisedwords.</p>
                            </li>
                            <li>
                                <h3 class="date"><i class="icon fa fa-calendar"></i>2012</h3>
                                <p class="content">There are many variations of passages of lpsum available but the majority have suffered alteration some form by injected humou randomisedwords.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <h1 class="title-left">YouTube and Movie Videos</h1>
                <div class="youtube-video">
                    <div class="two grid more-relaxed mobile-stack-one bottom-space">
                        <div class="one wide">
                            <div class="image-frame">
                                <div class="responsive-16by9">
                                    <iframe class="responsive-item" src="https://www.youtube.com/embed/IAHAQDn8i-8" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video-intro">
                                    影片介紹
                                </div>
                            </div>
                        </div>
                        <div class="one wide">
                            <div class="image-frame">
                                <div class="responsive-16by9">
                                    <iframe class="responsive-item" src="https://www.youtube.com/embed/IAHAQDn8i-8" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="video-intro">
                                    影片介紹
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="button">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
