<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <title>activity</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <header id="header">
        <nav class="navbar clear-float">
            <div class="container">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/images/logo.png" alt="logo web"></a>
                </div>
                <div class="menu-toggle"><img src="../assets/images/menu_button.png" alt="menu_button"></div>
                <div class="navigation side-slided">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a>特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../views/ad-page.html"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="../views/news-page.html"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</a>
                                    <ul class="sub-menu">
                                        <li><a href="../views/service-app.html">App</a></li>
                                        <li><a href="../views/service-solution.html">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../views/about-page.html">關於我們</a></li>
                        <li><a href="../views/question-answer-page.html">FAQ</a></li>
                        <li class="dropdown">
                            <a class="active">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="../views/activity.html">快訊-首頁</a></li>
                                <li><a href="../views/activity-info-page.html">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a href="../views/contact-page.html">聯絡我們</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1>Activity 活動快訊</h1>
            </div>
        </div>

        <div class="activity">
            <div class="container">
                <div class="page-post">
                    <div class="post-content">
                        <div class="image-group items">
                            <ul class="three grid more-relaxed mobile-stack-one space-bottom">
                                <li class="one wide">
                                    <a href="../views/activity-info-page.html" title="activity-info-page">
                                        <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                        <h3>Internet Marketing</h3>
                                    </a>
                                    <p>Lorem Ipsum, you need to be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </li>
                                <li class="one wide">
                                    <a href="#" title="activity-info-page">
                                        <img src="../assets/images/post-content-img-2.png" alt="post-content-img">
                                        <h3>Website Design</h3>
                                    </a>
                                    <p>Predefined chunks you need be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </li>
                                <li class="one wide">
                                    <img src="../assets/images/post-content-img-3.png" alt="post-content-img">
                                    <h3>Website Development</h3>
                                    <p>中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                                </li>
                                <li class="one wide">
                                    <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                    <h3>Website Development</h3>
                                    <p>中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-with">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
