<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;" />
    <title>ad-page</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <div id="wrap">
        <header class="navbar clear-float">
            <div class="container">
                <a class="logo" href="#"><img src="../assets/images/logo.png" alt="logo web"></a>
                <a id="menu-toggle" href="#"><i class="fa fa-bars"></i></a>
                <nav class="navigation">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a class="active" href="#">特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">App</a></li>
                                        <li><a href="#">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">FQA</a></li>
                        <li class="dropdown">
                            <a href="#">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="#">快訊-首頁</a></li>
                                <li><a href="#">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a href="#">聯絡我們</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1 class="title">Ad-news-page 廣告消息的大標題</h1>
            </div>
        </div>

        <div class="ad-page">
            <div class="container">
                <div class="four grid">
                    <div class="three wide">
                        <div class="page-post">
                            <div class="image-frame">
                                <img src="../assets/images/ad-slider-1.jpg" alt="ad-picture">
                            </div>
                            <div class="post-header">
                                <div class="calendar">
                                    <div class="date">28</div>
                                    <div class="month">二月</div>
                                </div>
                                <h1 class="post-title">內文的標題</h1>
                            </div>
                            <div class="ten grid">
                                <div class="nine wide one-floated post-content">
                                    <p>There are many variations of passages of Lorem Ipsum available, but theses majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but theses majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>

                                    <div class="text-around-picture clear-float">
                                        <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                        <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for uncover many web sites., and a search for uncover many web sites.</p>
                                    </div>
                                    <div class="post-image-items">
                                        <ul class="two grid more-relaxed mobile-stack-one bottom-space">
                                            <li class="one wide">
                                                <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                                <h3 class="item-title">Internet Marketing</h3>
                                                <p class="item-intro">Lorem Ipsum, you need to be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                            </li>
                                            <li class="one wide">
                                                <img src="../assets/images/post-content-img-2.png" alt="post-content-img">
                                                <h3 class="item-title">Website Design</h3>
                                                <p class="item-intro">Predefined chunks you need be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one wide">
                        <h1 class="title-left">特別的 Banners</h1>
                        <div class="specail-banner">
                            <div class="banner-image">
                                <img src="../assets/images/banners-img.png" alt="banners image">
                            </div>
                            <div class="content">
                                <h3>想成為司機嗎</h3>
                                <p>成為司機成為司機成為司機成為司機成為司機</p>
                                <a href="#" class="button">現在註冊</a>
                            </div>
                        </div>
                        <h1 class="title-left">最新消息</h1>
                        <ul class="last-news">
                            <li class="active">
                                <h3 class="news-title">測試 消息11</h3>
                                <div class="news-date">2017-01-18 上午 15:00</div>
                                <p class="news-content">消息內容消息內容消息內容消息內容消息內容消息內容一消息內容消息內容消息內容消息內容消息內容消息內容一消息內容消息內容消息內容消息內容消息內容消息內容一消息內容消息內容消息內容消息內容消息內容消息內容一</p>
                            </li>
                            <li>
                                <h3 class="news-title">Simply dummy text typesetting</h3>
                                <div class="news-date">2017-01-18 上午 15:00</div>
                                <p class="news-content">All the Lorem Ipsum generators on Internet tend to repeat chunks as necessary making the true enerato on the many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for will many web sites.</p>
                            </li>
                            <a class="look-more" href="#">看更多</a>
                        </ul>
                        <h1 class="title-left">我們的客戶說 Clients Say</h1>
                        <ul class="clients-say">
                            <li>
                                <p class="content-text">
                                   這是內容顧客說話喔喔這是內容顧客說話喔喔這是內容顧客說話喔喔這是內容顧客說話喔喔這是內容顧客說話喔喔
                                </p>
                                <div class="author">
                                    <img src="../assets/images/clients-say.png" alt="clients-say of author">
                                    <div class="name">
                                        不明公司貴婦
                                        <p class="position">公關兼媽媽桑</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h1 class="title-left">Site Advertisements</h1>
                        <div class="site-ad">
                            <div class="two grid bottom-space">
                                <div class="one wide">
                                    <a href="#"><img src="../assets/images/site-ad-1.jpg" alt="site-ad"></a>
                                </div>
                                <div class="one wide">
                                    <a href="#"><img src="../assets/images/site-ad-1.jpg" alt="site-ad"></a>
                                </div>
                                <div class="one wide">
                                    <a href="#"><img src="../assets/images/site-ad-1.jpg" alt="site-ad"></a>
                                </div>
                                <div class="one wide">
                                    <a href="#"><img src="../assets/images/site-ad-1.jpg" alt="site-ad"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="button">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
