<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;" />
    <title>contact-page</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <header id="header">
        <div class="navbar clear-float">
            <div class="container">
                <a class="logo" href="../index.html"><img src="../assets/images/logo.png" alt="logo web"></a>
                <div class="menu-toggle"><img src="../assets/images/menu_button.png" alt="menu_button"></div>
                <nav class="navigation">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a href="#">特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">App</a></li>
                                        <li><a href="#">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown">
                            <a href="#">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="#">快訊-首頁</a></li>
                                <li><a href="#">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a class="active" href="#">聯絡我們</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1 class="title">Contact Us 聯絡我們</h1>
            </div>
        </div>

        <div class="contact-page">
            <div class="container">
                <div class="two grid more-relaxed mobile-stack-one">
                    <div class="one wide">
                        <h1 class="post-title">聯絡的大標題</h1>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>

                        <h3 class="title-left">Contact Form</h3>
                        <form class="page-form" action="" method="" accept-charset="utf-8">
                            <label class="require" for="name">姓名</label>
                            <input type="text" name="name">

                            <label class="require" for="e-mail">E-mail</label>
                            <input type="text" name="e-mail">

                            <label for="website">Website</label>
                            <input type="text" name="website">

                            <label class="require" for="message">Your Message</label>
                            <textarea name="message" rows="10"></textarea>

                            <button class="button" type="submit">傳送</button>
                        </form>
                    </div>
                    <div class="one wide">
                        <div class="address-info">
                            <h3 class="title-left">聯絡地址</h3>
                            <p>
                                <strong>公司的名稱</strong>
                                <br>
                                2901 Marmora Road, Glassgow, Seattle, WA 98122-1090
                                <br>
                                Telephone: +1 1234-567-89000
                                <br>
                                FAX: +1 0123-4567-8900
                                <br>
                                E-mail: <a href="#" title="e-mail">mail@companyname</a>
                                <br>
                                Website: <a href="#" title="siteName">www.yoursitename</a>
                            </p>
                        </div>
                        <h3 class="title-left">地圖找地址</h3>
                        <div class="image-frame">
                            <div class="responsive-16by9">
                                <iframe class="responsive-item google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=WA,+United+States&amp;aq=0&amp;oq=WA&amp;sll=47.605288,-122.329296&amp;sspn=0.008999,0.016544&amp;ie=UTF8&amp;hq=&amp;hnear=Washington,+District+of+Columbia&amp;t=m&amp;z=7&amp;iwloc=A&amp;output=embed&amp;wmode=transparent"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-bg">
            <div class="container">
                <div class="five grid mobile-stack-one">
                    <div class="three wide banner">
                        <h1 class="banner-title">這是置入性行銷, <i>測試!~~~</i>這是置入性行銷, <i>測試!</i></h1>
                        <a href="#" class="button">現在購買</a>
                    </div>
                    <div class="two wide banner">
                        <img src="../assets/images/banner1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-with">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
