<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid-system.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <header id="header">
        <nav class="menu">
            <div class="container">
                <div class="menu-title"><a href="../index.html"><img src="../assets/images/logo.png" alt="logo"></a></div>
                <div class="menu-toggle"><img src="../assets/images/menu_button.png" alt="menu_button"></div>
                <div class="navigation side-slide">
                    <ul class="main-menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../views/news.html">News</a></li>
                        <li><a href="../views/event.html">Event</a></li>
                        <li class="dropdown">
                            <a>Service</a>
                            <ul class="sub-menu">
                                <li class="dropdown">
                                    <a><img class="icon" src="../assets/images/menu_icon_1.png" alt="icon-menu">Items</a>
                                    <ul class="sub-menu">
                                        <li><a href="../views/category-app.html">App</a></li>
                                        <li><a href="../views/category-solution.html">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../views/price-page.html">Price</a></li>
                        <li><a href="../views/faq-page.html">FAQ</a></li>
                        <li><a href="../views/about.html">About</a></li>
                        <li><a class="active" href="../views/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1>Contact Us 聯絡我們</h1>
            </div>
        </div>

        <div class="contact-page">
            <div class="container">
                <div class="grid-12 more-relaxed mobile-1">
                    <div class="column-6">
                        <h2 class="title-left large">聯絡標題</h2>
                        <p>內容測試--內容測試--內容測試--內容測試--內容測試--內容測試--</p>

                        <h3 class="title-left">Contact Form</h3>
                        <form class="page-form" action="" method="" accept-charset="utf-8">
                            <label class="require" for="name">姓名</label>
                            <input type="text" name="name" id="name">

                            <label class="require" for="e-mail">E-mail</label>
                            <input type="text" name="e-mail" id="e-mail">

                            <label for="website">Website</label>
                            <input type="text" name="website" id="website">

                            <label class="require" for="message">Your Message</label>
                            <textarea name="message" id="message" rows="10"></textarea>

                            <button class="button" type="submit">傳送</button>
                        </form>
                    </div>
                    <div class="column-6">
                        <div class="address-info">
                            <h3 class="title-left">聯絡地址</h3>
                            <p>
                                <strong>公司的名稱</strong>
                                <br>
                                內容測試--內容測試--內容測試--
                                <br>
                                Telephone: +1 1234-567-89000
                                <br>
                                FAX: +1 0123-4567-8900
                                <br>
                                E-mail: <a href="#" title="e-mail">mail@companyname</a>
                                <br>
                                Website: <a href="#" title="siteName">www.yoursitename</a>
                            </p>
                        </div>
                        <h3 class="title-left">地圖找地址</h3>
                        <div class="image-frame">
                            <div class="responsive-16by9">
                                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=WA,+United+States&amp;aq=0&amp;oq=WA&amp;sll=47.605288,-122.329296&amp;sspn=0.008999,0.016544&amp;ie=UTF8&amp;hq=&amp;hnear=Washington,+District+of+Columbia&amp;t=m&amp;z=7&amp;iwloc=A&amp;output=embed&amp;wmode=transparent"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="grid-12 relaxed mobile-1 tablet-2">
                    <div class="column-6">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="column-3">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awesome SliderShows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awesome SliderShows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="column-3">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-width">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
