<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/grid-system.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <header id="header">
        <nav class="menu">
            <div class="container">
                <div class="menu-title"><a href="../index.html"><img src="../assets/images/logo.png" alt="logo"></a></div>
                <div class="menu-toggle"><img src="../assets/images/menu_button.png" alt="menu_button"></div>
                <div class="navigation side-slide">
                    <ul class="main-menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../views/news.html">News</a></li>
                        <li><a class="active" href="../views/event.html">Event</a></li>
                        <li class="dropdown">
                            <a>Service</a>
                            <ul class="sub-menu">
                                <li class="dropdown">
                                    <a><img class="icon" src="../assets/images/menu_icon_1.png" alt="icon-menu">Items</a>
                                    <ul class="sub-menu">
                                        <li><a href="../views/category-app.html">App</a></li>
                                        <li><a href="../views/category-solution.html">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../views/price-page.html">Price</a></li>
                        <li><a href="../views/faq-page.html">FAQ</a></li>
                        <li><a href="../views/about.html">About</a></li>
                        <li><a href="../views/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1>活動快訊</h1>
            </div>
        </div>

        <div class="event">
            <div class="container">
                <div class="page-post">
                    <div class="post-content">
                        <div class="image-group items">
                            <ul class="grid-12 more-relaxed mobile-1 tablet-2">
                                <li class="column-4">
                                    <a href="../views/event-page.html">
                                        <img src="../assets/images/post_content_img_1.jpg" alt="event">
                                        <h3>標題測試-1</h3>
                                    </a>
                                    <div class="date">2017-06-10 ~ 2017-06-10</div>
                                    <p>內容測試--內容測試--內容測試--</p>
                                </li>
                                <li class="column-4">
                                    <a href="../views/event-page.html">
                                        <img src="../assets/images/post_content_img_2.jpg" alt="event">
                                        <h3>標題測試-2</h3>
                                    </a>
                                    <div class="date">2017-06-10 ~ 2017-06-10</div>
                                    <p>內容測試--內容測試--內容測試--內容測試--內容測試--內容測試--內容測試--內容測試--內容測試--</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="pagination"></ul>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="grid-12 relaxed mobile-1 tablet-2">
                    <div class="column-6">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="column-3">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awesome SliderShows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awesome SliderShows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="column-3">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-width">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/pagination.js"></script>
    <script>
        $(document).ready(function () {
            var config = {
                pagination: {
                    selector: $('ul.pagination'),
                    items: 18,
                    itemsOnPage: 3,
                    currentPage: 1,
                    maxSize: 5,
                    hrefTextPrefix: '#',
                }
            };

            var pag = new Pagination(config.pagination);
            pag.loadURLHash().init().clickRun();
        });
    </script>
</body>
</html>
