<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;" />
    <title>service-app</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <header id="header">
        <div class="navbar clear-float">
            <div class="container">
                <a class="logo" href="../index.html"><img src="../assets/images/logo.png" alt="logo web"></a>
                <div class="menu-toggle"><img src="../assets/images/menu_button.png" alt="menu_button"></div>
                <nav class="navigation">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a class="active" href="#">特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#">App</a></li>
                                        <li><a href="#">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown">
                            <a href="#">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="#">快訊-首頁</a></li>
                                <li><a href="#">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a href="#">聯絡我們</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1 class="title">Service App 服務項目</h1>
            </div>
        </div>
        <div class="service-app">
            <div class="container">
                <h1 class="post-title">服務App的標題</h1>
                <div class="post-content">
                    <p>There are many variations of passages of Lorem Ipsum available, but theses majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <div class="text-around-picture clear-float">
                        <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                        <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    </div>
                    <div class="post-icon-items">
                        <ul class="three grid more-relaxed mobile-stack-one bottom-space">
                            <li class="one wide">
                                <div class="icon"><i class="fa fa-desktop"></i></div>
                                <div class="content">
                                    <h3 class="item-title">Web Development</h3>
                                    <p class="item-intro">中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                                </div>
                            </li>
                            <li class="one wide">
                                <div class="icon"><i class="fa fa-picture-o"></i></div>
                                <div class="content">
                                    <h3 class="item-title">Website Design</h3>
                                    <p class="item-intro">Internet this the first of true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                                </div>
                            </li>
                            <li class="one wide">
                                <div class="icon"><i class="fa fa-html5"></i></div>
                                <div class="content">
                                    <h3 class="item-title">Internet Marketing</h3>
                                    <p class="item-intro">Lorem Ipsum, you need to be sure there anythin embarrassing hidden in the middle of text in the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-bg-wrapper bg-1">
            <div class="container">
                <div class="text-center">
                    <p class="only-intro">Apple Music 帶來全新設計，舉凡是聆聽、探索，和發掘音樂，一切體驗都比以往更加精彩。你的完整音樂收藏，以及龐大的 Apple Music 資料庫，盡在你的指尖。音樂專家們會不斷地為你找出你所喜愛的新曲以及音樂新秀。廣播齊聚全球頂尖音樂人與 DJ 群。還有眾多專輯、影片與活動，只在 Apple Music 搶先放送。</p>
                </div>
            </div>
        </div>
        <div class="full-bg-wrapper bg-2">
            <div class="container">
                <div class="text-left">
                    <h1 class="title">全新設計，如音樂般流暢。</h1>
                    <p class="intro">Apple Music 帶來全新外觀與強化功能，讓你能夠比以往更輕鬆地找到喜愛的音樂、收聽全球廣播的現場直播，以及獲得音樂專家們的精選推薦。</p>
                </div>
            </div>
        </div>

        <div class="scroll-gallery">
            <div class="container">
                <ul class="scroll-container">
                    <li class="two grid mobile-stack-one">
                        <div class="one wide phone-picture">
                            <img src="../assets/images/phone-1.png" alt="phone-picture">
                        </div>
                        <div class="one wide text-left">
                            <h3 class="title">資料庫</h3>
                            <p class="intro">
                                你所有的音樂，不論新舊，全都存在你的 Apple Music 資料庫。你所收集的歌曲與專輯、建立的播放列表，還有在龐大的 Apple Music目錄下發現的音樂人與曲目，都盡收於此，並且依類別整理，一目了然。
                                <br>
                                <br>
                                <strong>已下載的音樂</strong>
                                <br> 即使是離線時，你仍然可以收聽你的音樂。只要下載你想要的歌曲或播放列表，它們就會出現在自己的分類中。
                            </p>
                        </div>
                    </li>
                    <li class="two grid mobile-stack-one">
                        <div class="one wide text-left">
                            <h3 class="title">現正播放</h3>
                            <p class="intro">
                                重新設計的音樂播放器，簡化到只保留你最常使用的指令。不論你想知道什麼或做什麼，只要輕點或按一下即可。
                            </p>
                        </div>
                        <div class="one wide phone-picture">
                            <img src="../assets/images/phone-1.png" alt="phone-picture">
                        </div>
                    </li>
                    <li class="three grid relaxed mobile-stack-one">
                        <div class="one wide phone-picture">
                            <img src="../assets/images/phone-1.png" alt="phone-picture">
                        </div>
                        <div class="one wide text-left">
                            <h3 class="title">以歌，傳意。</h3>
                            <p class="intro">
                                重新設計的音樂播放器，簡化到只保留你最常使用的指令。不論你想知道什麼或做什麼，只要輕點或按一下即可。
                            </p>
                        </div>
                        <div class="one wide phone-picture">
                            <img src="../assets/images/phone-1.png" alt="phone-picture">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-with">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>

</html>
