<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8;" />
    <title>service-solution</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <div id="wrap">
        <header class="navbar clear-float">
            <div class="container">
                <a class="logo" href="#"><img src="../assets/images/logo.png" alt="logo web"></a>
                <a id="menu-toggle" href="#"><i class="fa fa-bars"></i></a>
                <nav class="navigation">
                    <ul class="main-menu">
                        <li><a href="../index.html">首頁</a></li>
                        <li class="dropdown">
                            <a class="active" href="#">特色內頁</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><img class="icon" src="../assets/images/img_24.png" alt="icon-menu">企業廣告</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>最新消息</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon fa fa-gift"></i>價格表</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><img class="icon" src="../assets/images/img_25.png" alt="icon-menu">服務項目</i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">App</a></li>
                                        <li><a href="#">Solution</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">關於我們</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown">
                            <a href="#">活動快訊</a>
                            <ul class="sub-menu">
                                <li><a href="#">快訊-首頁</a></li>
                                <li><a href="#">快訊-內頁</a></li>
                            </ul>
                        </li>
                        <li><a href="#">聯絡我們</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <section id="main">
        <div class="page-title">
            <div class="container">
                <h1 class="title">Service Solution 服務項目</h1>
            </div>
        </div>

        <div class="service-solution">
            <div class="container">
                <h1 class="post-title">服務Solution的標題</h1>
                <div class="four grid">
                    <div class="three wide">
                        <div class="page-post">
                            <div class="image-frame">
                                <img src="../assets/images/ad-slider-1.jpg" alt="ad-picture">
                            </div>
                            <div class="post-content">
                                <p>There are many variations of passages of Lorem Ipsum available, but theses majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <div class="text-around-picture clear-float">
                                    <img src="../assets/images/post-content-img-1.png" alt="post-content-img">
                                    <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                </div>
                                <div class="post-icon-items">
                                    <ul class="two grid more-relaxed mobile-stack-one bottom-space">
                                        <li class="one wide">
                                            <div class="icon"><i class="fa fa-desktop"></i></div>
                                            <div class="content">
                                                <h3 class="item-title">Web Development</h3>
                                                <p class="item-intro">中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試中文測試</p>
                                            </div>
                                        </li>
                                        <li class="one wide">
                                            <div class="icon"><i class="fa fa-picture-o"></i></div>
                                            <div class="content">
                                                <h3 class="item-title">Website Design</h3>
                                                <p class="item-intro">Internet this the first of true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one wide">
                        <ul class="solution-spec">
                            <li>
                                <h3 class="spec-title">Author</h3>
                                <i class="icon fa fa-user"></i>
                                Mugiwara Kiwolen
                            </li>
                            <li>
                                <h3 class="spec-title">Date Created</h3>
                                <i class="icon fa fa-calendar"></i>
                                2017-02-20
                            </li>
                            <li>
                                <h3 class="spec-title">Categories</h3>
                                <i class="icon fa fa-user"></i>
                                <a href="#">Web Design</a>, PSD Template
                            </li>
                            <li>
                                <h3 class="spec-title">Project URL</h3>
                                <i class="icon fa fa-external-link"></i>
                                <a href="#">See The Project</a>
                            </li>
                            <li>
                                <h3 class="spec-title">Project URL</h3>
                                <i class="icon fa fa-external-link"></i>
                                See The Project
                            </li>
                        </ul>
                    </div>
                </div>

                <h1 class="title-left bottom-dashed">我們的客戶 Logo</h1>
                <div class="client-logo">
                    <div class="four grid relaxed mobile-stack-two bottom-space">
                        <div class="one wide">
                            <a href="#"><img src="../assets/images/client-logo-1.jpg" alt="client-logo picture"></a>
                            <div class="logo-link">
                                <a href="#">客戶連結資訊1</a>
                            </div>
                        </div>
                        <div class="one wide">
                            <a href="#"><img src="../assets/images/client-logo-2.jpg" alt="client-logo picture"></a>
                            <div class="logo-link">
                                <a href="#">客戶連結資訊1</a>
                            </div>
                        </div>
                        <div class="one wide">
                            <a href="#"><img src="../assets/images/client-logo-3.jpg" alt="client-logo picture"></a>
                            <div class="logo-link">
                                <a href="#">客戶連結資訊3</a>
                            </div>
                        </div>
                        <div class="one wide">
                            <a href="#"><img src="../assets/images/client-logo-3.jpg" alt="client-logo picture"></a>
                            <div class="logo-link">
                                <a href="#">客戶連結資訊4</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="main-footer">
            <div class="container">
                <div class="four grid relaxed mobile-stack-two">
                    <div class="two wide">
                        <img class="logo" src="../assets/images/footer-logo.png" alt="logo web">
                        <p class="company-intro">Little Neko is a web design and development studio. 公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊公司簡介資訊</p>
                    </div>
                    <div class="one wide">
                        <h2 class="title-left">快速連結</h2>
                        <div class="fast-links">
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Home Page Variations</a>
                            <a href="#">Awsome Slidershows</a>
                            <a href="#">Home Page Variations</a>
                        </div>
                    </div>
                    <div class="one wide">
                        <form class="contact-form">
                            <h3>聯絡我們</h3>
                            <input type="text" name="name" placeholder="Name">
                            <input type="text" name="e-mail" placeholder="E-mail">
                            <textarea name="message" placeholder="Message" rows="3"></textarea>
                            <button class="small button full-with">發送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="social-network">
                    <a href="#" title="facebook" target="_blank"><i class="icon fa fa-facebook"></i></a>
                    <a href="#" title="google-plus" target="_blank"><i class="icon fa fa-google-plus"></i></a>
                    <a href="#" title="line-at-生活圈" target="_blank"><i class="icon line-at"></i></a>
                </div>
                All Rights Reserved 2017 © 哈哈.com
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</body>
</html>
