/**
 * 導航列 navber menu
 * 2017-03-03 製作RWD
 * 2017-03-06 16:26:08 製作RWD改成側邊欄
 *
 * @author Shane Yi <scps950613@gmail.com>
 * @date 2017-01-19
 */

.navbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    position: relative;
}

/* 可為浮動的導行列 */
.navbar.fixed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

.navbar .icon {
	height: 13px;
	margin-right: 10px;
	width: 13px;
}

.navbar .logo {
    float: left;
    font-size: 23px;
    padding: 8px 0;
}

.navbar .logo a {
    display: inline-block;
}

.navbar .logo img {
    max-height: 55px;
}

.navbar .navigation {
    float: right;
    height: auto;
	width: auto;
}

/* navbar > menu */
.navbar ul.main-menu li {
    position: relative;
}

.navbar ul.main-menu li a {
    text-decoration: none;
}

.navbar ul.main-menu > li {
    display: inline-block;
}

.navbar ul.main-menu > li > a {
    color: #777;
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    padding: 30px 15px;
}

.navbar ul.main-menu > li:hover > a,
.navbar ul.main-menu > li > a.active,
.navbar ul.main-menu > li:hover > a.active {
    color: #23dbdb;
}


/* navbar > menu > dropdown (下拉選單) */
.navbar ul.main-menu li:hover > ul.sub-menu {
    display: block;
}

/* level 2 */
.navbar ul.sub-menu {
    border: 1px solid #e2e2e2;
    border-radius: 0 0 2px 2px;
    display: none;
    left: 0;
    position: absolute;
    width: 150px;
    z-index: 11;
}
.navbar ul.sub-menu > li {
    border-top: 1px solid #e2e2e2;
}

.navbar ul.sub-menu > li:first-child {
    border-top: none;
}

.navbar ul.sub-menu > li > a {
    background-color: #fff;
    border-left: 5px solid transparent;
    color: #777;
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 13px 10px;
}

/* level 3+ */
.navbar ul.sub-menu ul.sub-menu {
    left: 149px;
    top: 0;
    z-index: 12;
}

.navbar ul.sub-menu > li > a:hover {
    background-color: #777;
    border-left: 5px solid #23dbdb;
    color: #fff;
}

.navbar ul.sub-menu > li.dropdown > a:after {
    content: "\f105";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    line-height: 17px;
    text-rendering: auto;
}

.navbar .menu-toggle {
    display: none;
}

.navbar .navigation .main-menu a {
    cursor: pointer;
}


/* 以下都是RWD版的 meun */

@media (max-width: 767px) {

    .navbar .logo {
        float: none;
        padding: 5px 0;
        text-align: center;
    }

    .navbar .logo img {
        max-height: 45px;
    }

    .navbar .menu-toggle {
        position: absolute;
        top: 2.5px;
        left: 0;
        border-radius: 4px;
        color: #777;
        cursor: pointer;
        display: block;
        font-size: 20px;
        margin: 0;
    }

    .navbar .menu-toggle img {
        height: 50px;
        width: 55px;
    }

    .navbar .navigation {
        background-color: #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        border-top: 1px solid #e2e2e2;
        clear: both;
        display: none;
        float: none;
        margin: 0 -15px;
        padding: 10px 30px;
        -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar .navigation.side-slided {
        display: block;
        left: -82%;
        height: 100%;
        overflow: auto;
        position: fixed;
        width: 82%;
        -webkit-transition: -webkit-transform .35s ease-in-out;
        transition: transform .35s ease-in-out;
    }

    .navbar .navigation.side-slided.pushed {
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

    .navbar ul.main-menu > li {
        border-bottom: 1px solid #c2c2c2;
        display: block;
    }

    .navbar ul.main-menu > li:last-child {
        border: none;
    }

    .navbar ul.main-menu > li > a {
        padding: 12px 6px;
    }

    .navbar ul.main-menu > li.dropdown > a:after {
        content: "\f107";
        float: right;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
    }

    .navbar ul.sub-menu > li.dropdown > a:after {
        content: "\f0d7";
        padding-right: 1px;
    }

    .navbar ul.main-menu > li:hover > a {
        color: #777;
    }

    .navbar ul.sub-menu {
        border: none;
        padding: 0 0 10px 20px;
        position: static;
        width: auto;
    }

    .navbar ul.sub-menu > li {
        border: none;
        border-bottom: 1px solid #c2c2c2;
    }

    .navbar ul.sub-menu > li:last-child {
        border-bottom: none;
    }

    .navbar ul.sub-menu > li > a {
        background-color: transparent;
        border: none;
        padding: 12px 6px;
    }

    .navbar ul.sub-menu > li > a:hover {
        background-color: transparent;
        border-color: transparent;
        color: #777;
    }

    .navbar ul.sub-menu ul.sub-menu {
        padding-left: 30px;
    }

    .navbar ul.sub-menu > li.dropdown:last-child ul.sub-menu {
        padding-bottom: 0;
    }

    .navbar ul.main-menu li:hover > ul.sub-menu {
        display: none;
    }
}
