* {
    box-sizing: border-box;
}

body {
    font-family: "Openf Sans", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    color: #777;
    line-height: 23px;
    margin: 0 0 23px 0;
}

a {
    display: block;
    text-decoration: none;
}

img {
    border: none;
    vertical-align: middle;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #9ac63d;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 12px 18px;
    white-space: nowrap;
}

.small.button {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 14px;
}

.full-width.button {
    text-align: center;
    width: 100%
}

/* 清除 float 浮動 */
.clear-float:after {
    clear: both;
    content: "";
    display: table;
}


/**
 * 以下為共用的 UI元件
 */

/* 標題系列 (em當作副標題)*/

.title-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
}

.title-center h1,
.title-center h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

.title-center em {
    color: #777;
    font-style: normal;
    margin-top: 20px;
}

.title-left {
    font-size: 23px;
    margin: 0 0 16px 0;
    text-align: left;
}

.title-left.large {
    color: #0896b8;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.title-left em {
    color: #777;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    margin-left: 5px;
}


/**
 * 框架元件:
 *  - ul > li 的固定項目items (只會有標題、圖片或icon、一段內文)
 *  - image-frame(圖片邊框)
 *  - responsive-16by9, responsive-4by3 (專用給iframe框架支援RWD)
 */

ul.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.items > li h3,
ul.items > li h4,
ul.items > li h5,
.items > ul > li h3,
.items > ul > li h4,
.items > ul > li h5 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

ul.items > li p,
.items > ul > li p {
    margin: 0;
}

.image-frame {
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.image-frame img {
    width: 100%;
}

.responsive-16by9,
.responsive-4by3 {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.responsive-16by9 {
    padding-bottom: 56.25%;
}

.responsive-4by3 {
    padding-bottom: 75%;
}

.responsive-16by9 iframe,
.responsive-4by3 iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    bottom: 0;
    left: 0;
    top: 0;
}


/**
 * 固定元件:
 *  - special-banner
 *  - news
 *  - client
 *  - faq(有JavaScript組合)
 *  - calendar
 */

.special-banner {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    padding: 30px 15px;
}

.special-banner .banner-image {
    margin-right: 10px;
    max-width: 135px;
    width: 100%;
}

.special-banner .banner-image img {
    width: 100%;
}

.special-banner .title {
    color: #404040;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin: 30px 0 20px 0;
}

.special-banner .content p {
    margin-bottom: 30px;
}

ul.news {
    background-color: #f0f0f0;
    border-top: 5px solid #e2e2e2;
    padding: 30px;
}

ul.news > li {
    display: none;
    text-align: left;
}

ul.news > li.active {
    display: block;
}

ul.news > li .title {
    color: #404040;
    font-size: 18px;
    margin: 0;
}

ul.news > li .date {
    color: #777;
    font-size: 14px;
    margin: 0;
    margin-bottom: 15px;
}

ul.news > li .content {
    color: #777;
    margin: 0;
    margin-bottom: 25px;
}

ul.news > li .content p:last-child {
    margin-bottom: 0;
}

ul.news > li .look-more {
    color: #0076f9;
    font-weight: bold;
}

ul.news > li .look-more:hover {
    color: #404040;
}

ul.client > li {
    display: none;
}

ul.client > li.active {
    display: block;
}

ul.client > li .content-text {
    background-color: #f0f0f0;
    font-style: italic;
    margin-bottom: 12px;
    padding: 30px 30px 60px 30px;
}

ul.client > li .content-text p:last-child {
    margin-bottom: 0;
}

ul.client > li .author {
    display: flex;
    flex-direction: row;
    margin: -50px 0 0 12px;
}

ul.client > li .author img {
    border: 5px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

ul.client > li .author .name {
    float: left;
    font-size: 16px;
    margin: 50px 0 0 20px;
}

ul.client > li .author .name .position {
    color: #777;
    font-size: 14px;
    margin: 0;
}

ul.faq > li {
    border: 1px solid #e2e2e2;
    text-align: left;
}

ul.faq > li .question {
    color: #404040;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 13px 20px 13px 50px;
    position: relative;
}

ul.faq > li .question:hover {
    background-color: #f0f0f0;
    color: #0076f9;
}

ul.faq > li .question:before {
    position: absolute;
    top: 14px;
    left: 20px;
    content: "\f067";
    background-color: #c2c2c2;
    color: #fff;
    height: 14px;
    padding: 3px 4px 2px 4px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
}

ul.faq > li .answer {
    color: #777;
    display: none;
    margin: 0 20px 15px 50px;
}

ul.faq > li .answer p .look-more {
    color: #0076f9;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
}

ul.faq > li .answer p .look-more:hover {
    color: #404040;
}

ul.faq > li .answer p:last-child {
    margin-bottom: 0;
}

ul.faq > li.active .answer {
    display: block;
}

ul.faq > li.active .question {
    color: #0076f9;
    cursor: auto;
}

ul.faq > li.active .question:hover {
    background-color: transparent;
}

ul.faq > li.active .question:before {
    background-color: #0076f9;
    content: "\f068";
}

.calendar {
    background-color: #f9f9f9;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
}

.calendar .date {
    color: #0896b8;
    font-size: 26px;
    line-height: 26px;
    padding: 10px 0;
}

.calendar .month {
    background-color: #0896b8;
    color: #fff;
    font-size: 12px;
    padding: 3px 0;
}

ul.pagination {
    border-radius: 4px;
    margin: 20px 0;
    font-size: 0;
}

ul.pagination > li {
    display: inline-block;
}

ul.pagination > li > a {
    border: 1px solid #a9a9a9;
    border-right: none;
    background-color: #fff;
    color: #0076f9;
    font-size: 14px;
    text-align: center;
    padding: 6px 12px;
}

ul.pagination > li > a:hover {
    background-color: #e2e2e2;
}

ul.pagination > li.active > a {
    background-color: #0076f9;
    color: #fff;
    cursor: default;
}

ul.pagination > li.disabled > a {
    background-color: #fff;
    color: #777;
    cursor: not-allowed;
}

ul.pagination > li:first-child > a {
    border-radius: 4px 0 0 4px;
}

ul.pagination > li:last-child > a {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #a9a9a9;
}


/**
 * 內頁元件:
 *  - page-title
 *  - page-sidebar(側邊欄框架)
 *  - page-post(主內頁有文章的框架)
 *  - half-group
 */

.page-title {
    background: url('../images/page-title-bg.jpg') no-repeat;
    margin-bottom: 50px;
    padding: 28px 0;
}

.page-title h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
}

.page-sidebar {
    margin-bottom: 50px;
}

.page-sidebar .special-banner,
.page-sidebar .news,
.page-sidebar .client,
.page-sidebar .site-ad {
    margin-bottom: 40px;
}

.page-sidebar .special-banner .title {
    color: #404040;
    font-size: 22px;
    line-height: 22px;
    margin: 20px 0 20px 0;
}

.page-sidebar .special-banner .banner-image {
    max-width: 110px;
}

.page-sidebar .site-ad img {
    width: 100%;
}

.page-post {
    margin-bottom: 50px;
}

.page-post.has-sidebar {
    margin-right: 5.5%;
}

.page-post .image-frame {
    margin-bottom: 25px;
}

.page-post .post-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    min-height: 68px;
}

.page-post .post-header .title-left {
    margin-bottom: 0;
    margin-left: 75px;
}

.page-post .post-content {
    margin-bottom: 40px;
    position: relative;
}

.page-post .post-content.has-calendar {
    margin-left: 75px;
}

.page-post .post-content .text-around-picture {
    margin-bottom: 23px;
}

.page-post .post-content .text-around-picture:after {
    clear: both;
    content: "";
    display: table;
}

.page-post .post-content .text-around-picture img {
    float: left;
    padding: 0 30px 15px 0;
}

.page-post .post-content .text-around-picture p:last-child {
    margin-bottom: 0;
}

.page-post .post-content .image-group.items,
.page-post .post-content .icon-group.items {
    margin-bottom: 40px;
    overflow: hidden;
}

.page-post .post-content .image-group.items a:hover {
    opacity: 0.8;
}

.page-post .post-content .image-group.items .date {
    color: #777;
    font-size: 14px;
    margin-top: 8px;
}

.page-post .post-content .image-group.items img {
    margin-bottom: 10px;
    width: 100%;
}

.page-post .post-content .icon-group.items ul > li {
    display: flex;
    flex-direction: row;
}

.page-post .post-content .icon-group.items .icon {
    font-size: 40px;
    color: #0896b8;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 0 #fff;
    margin-right: 25px;
}

.page-post .post-content .icon-group.items .icon > .fa {
    width: 90px;
}

.page-post .post-content .icon-group.items h3,
.page-post .post-content .icon-group.items h4,
.page-post .post-content .image-group.items h3,
.page-post .post-content .image-group.items h4 {
    font-size: 23px;
    line-height: 23px;
    margin: 0;
}

.page-post .post-content .icon-group.items p,
.page-post .post-content .image-group.items p {
    margin-top: 16px;
}

.half-group {
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .page-post.has-sidebar {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .page-post .post-header {
        margin-bottom: 20px;
    }

    .page-post .post-content.has-calendar {
        margin-left: 0;
    }

    .page-post .post-content .text-around-picture img {
        float: none;
    }
}


/**
 * 廣告 slides-ad
 *
 * @date 2017-01-23 16:37:28
 */

.slides-ad {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}

.slides-ad u1.inner {
    margin: 0;
    padding: 0;
    position: relative;
}

.slides-ad ul.inner > li {
    background-color: #f9f9f9;
    display: none;
    max-height: 540px;
    overflow: hidden;
}

.slides-ad ul.inner > li img {
    width: 100%;
}

.slides-ad ul.inner > li.active {
    display: block;
    opacity: 0.9;
}

.slides-ad ol.controls {
    bottom: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.slides-ad ol.controls > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #23dbdb;
    border-radius: 100%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    margin-right: 15px;
    opacity: 0.5;
}

.slides-ad ol.controls > li:hover,
.slides-ad ol.controls > li.active {
    background-color: #fff;
    opacity: 1;
}


/**
 * 服務項目 category
 *
 * @date 2017-01-25 10:47:23
 */

.category {
    padding: 20px 0;
    text-align: center;
}

.category ul.items > li {
    margin: 30px 15px 20px 15px;
    text-align: center;
    width: 255px;
}

.category ul.items > li .item-icon {
    color: #0076f9;
    font-size: 62px;
    line-height: 62px;
    text-align: center;
    width: 62px;
}

.category ul.items > li .item-image {
    height: 62px;
    width: 62px;
}

.category ul.items > li .icon:hover,
.category ul.items > li h3:hover,
.category ul.items > li h4:hover {
    color: #0076f9;
}


/**
 * 關於我們 about
 *
 * @date 2017-01-25 17:04:46
 */

.about {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.about .list-title {
    color: #e8554e;
    font-size: 18px;
    margin: 0 0 16px 0;
}

.about .intro {
    margin-right: 35px;
}

.about .intro p {
    margin-bottom: 30px;
}

.about .intro ul.list {
    font-weight: bold;
}

.about .intro ul.list > li {
    list-style: initial;
    margin-bottom: 10px;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .about .intro {
        margin-right: 0;
    }
}


/**
 * 特色 feature
 *
 * @date 2017-02-06 10:38:46
 */

.feature {
    background-color: #e2e2e2;
    padding: 20px 0;
}

.feature .title-center {
    height: 80px;
}

.feature .main-img {
    max-height: 380px;
    max-width: 100%;
}

.feature ul.items {
    height: 380px;
}

.feature ul.items > li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 126px;
}

.feature ul.items > li .item-icon {
    position: absolute;
    color: #0076f9;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    margin: 18px 0;
    width: 90px;
    left: 0;
    top: 0;
}

.feature ul.items > li .item-image {
    position: absolute;
    margin: 18px 0;
    height: 90px;
    width: 90px;
    left: 0;
    top: 0;
}

.feature ul.items > li .content {
    margin: 0 35px 0 115px;
}

.feature ul.items > li .content h3 {
    margin: 0 0 5px 0;
}

.feature.less-than-three {
    background-color: #f0f0f0;
}

.feature.less-than-three .main-img {
    max-height: 100%;
    margin: 20px 0;
}

.feature.less-than-three ul.items {
    flex-wrap: nowrap;
    height: auto;
    margin-left: 30px;
}

.feature.less-than-three ul.items > li {
    align-items: flex-start;
    height: auto;
    width: auto;
}

.feature.less-than-three ul.items > li .item-icon {
    font-size: 40px;
    line-height: normal;
    margin: 20px 0;
    width: 60px;
}

.feature.less-than-three ul.items > li .item-image {
    margin: 20px 0;
    height: 60px;
    width: 60px;
}

.feature.less-than-three ul.items > li .content {
    margin: 20px 0 30px 85px;
}

.feature.less-than-three ul.items > li .content h3 {
    font-size: 23px;
    margin: 0 0 10px 0;
}

@media (max-width: 767px) {
    .feature ul.items,
    .feature.less-than-three ul.items {
        height: auto;
        margin-left: 0;
    }

    .feature ul.items > li {
        width: auto;
    }

    .feature ul.items > li .content {
        margin-right: 0;
    }
}


/**
 * 採購價錢 price
 *
 * @date 2017-02-07 10:30:19
 */

.price {
    padding: 20px 0 40px 0;
}

.price .title-center {
    height: 80px;
}

.price ul.pricing-table:hover {
    box-shadow: 0 0 20px #c2c2c2;
}

.price ul.pricing-table > li {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-top: none;
    color: #000;
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
}

.price ul.pricing-table > li .remark {
    color: #a9a9a9;
    display: inline-block;
    font-size: 14px;
}

.price ul.pricing-table > li.first {
    background-color: #c2c2c2;
    border-top: 1px solid #e2e2e2;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    padding: 35px 0;
}

.price ul.pricing-table > li.first .remark {
    color: #fff;
    display: block;
    font-size: 16px;
}

.price ul.pricing-table > li .button {
    background-color: #c2c2c2;
}

.price ul.pricing-table > li .button:hover {
    opacity: 0.8;
}

ul.pricing-table.bright > li.first,
ul.pricing-table.bright > li .button {
    background-color: #0076f9;
}

ul.pricing-table.bright > li {
    background-color: #f0f0f0;
}


/**
 * 看版 - board
 *
 * @date 2017-02-07 14:25:20
 */

.board {
    background-color: #f9f9f9;
    padding: 40px 0;
}


/**
 * 頁面底部 - footer
 *
 * @date 2017-02-09 11:39:54
 */

#footer .main-footer {
    background-color: #333;
    padding: 40px 0;
}

#footer .main-footer .title-left {
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 500;
}

#footer .main-footer .logo {
    color: #f9f9f9;
    font-size: 28px;
    margin: 0 0 16px 0;
}

#footer .main-footer img.logo,
#footer .main-footer .logo img {
    height: 50px;
}

#footer .main-footer ul.contact-info > li {
    color: #777;
    line-height: 23px;
    margin-bottom: 6px;
    padding-left: 20px;
    position: relative;
}

#footer .main-footer ul.contact-info > li .icon {
    left: 0;
    position: absolute;
    top: 4.5px;
}

#footer .main-footer .company-intro {
    margin-right: 10%;
}

#footer .main-footer .app-link {
    height: 50px;
    margin-bottom: 25px;
}

#footer .main-footer .app-link:hover {
    opacity: 0.8;
}

#footer .main-footer .fast-links a {
    color: #777;
    margin-bottom: 10px;
    padding-left: 16px;
    position: relative;
}

#footer .main-footer .fast-links a:hover {
    color: #f9f9f9;
}

#footer .main-footer .fast-links a:before {
    position: absolute;
    left: 0;
    top: 3.5px;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

#footer .main-footer .contact-form {
    background-color: #f9f9f9;
    padding: 20px 15px;
}

#footer .main-footer .contact-form h3 {
    font-size: 16px;
    margin: 0 0 16px 0;
}

#footer .main-footer .contact-form input[type="text"],
#footer .main-footer .contact-form textarea {
    border: 1px solid #c2c2c2;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: capitalize;
    width: 100%;
}

#footer .copyright {
    background-color: #434343;
    color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

#footer .copyright .social-network {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

#footer .copyright .social-network .icon {
    border: 1px dashed #22aba5;
    border-radius: 50%;
    color: #22aba6;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    width: 40px;
}

#footer .copyright .social-network .icon:hover {
    background-color: #6bb8be;
    border: 1px solid #22aba5;
    color: #fff;
}

.line-at {
    background-image: url('../images/line-at.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

@media (max-width: 767px) {
    #footer .main-footer .company-intro {
        margin-right: auto;
    }
}


/**
 * 置入性行銷 banner
 *
 * @date 2017-02-09 16:53:33
 */

.banner {
    background-color: #e2e2e2;
}

.banner .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 185px;
    overflow: hidden;
}

.banner .inner .title {
    color: #0076f9;
    font-size: 23px;
    font-weight: bold;
    margin-right: 20px;
}

.banner .inner .title strong {
    color: #000;
}

.banner .inner .button {
    background-color: #0076f9;

}

.banner .inner img {
    width: 100%;
}

.banner.no-image .inner {
    height: 115px;
}

.banner.no-image .inner .button {
    font-size: 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #0076f9;
    color: #0076f9;
}

.banner.has-content .inner {
    flex-direction: column;
    align-items: flex-start;
}

.banner.has-content .title {
    margin-bottom: 6px;
    margin-right: 35px;
}

.banner.has-content p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 35px;
}

/**
 * 企業廣告內頁 ad-page
 *
 * @date 2017-02-16 14:28:14
 */


/**
 * 服務項目 category-app
 *
 * @date 2017-02-20 15:19:38
 */


/**
* 滿版背景內容 full-bg-wrapper
*
* @date 2017-02-22 10:52:59
*/

.full-bg-wrapper.bg-1 {
    background-image: url('../images/phone-large-bg-1.jpg');
}

.full-bg-wrapper.bg-2 {
    background-image: url('../images/phone-large-bg-2.jpg');
}

.full-bg-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.full-bg-wrapper:after {
    content: '';
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 2;
}

.full-bg-wrapper .text-center,
.full-bg-wrapper .text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 540px;
    margin: 0;
    z-index: 3;
}

.full-bg-wrapper .text-center {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;
}

.full-bg-wrapper .text-left {
    align-items: flex-start;
    margin-left: 100px;
    margin-right: auto;
    max-width: 400px;
    text-align: left;
}

.full-bg-wrapper .title {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 12px 0;
    z-index: 3;
}

.full-bg-wrapper .intro,
.full-bg-wrapper .only-intro {
    color: #fff;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    z-index: 3;
}

.full-bg-wrapper .only-intro {
    font-size: 23px;
}

@media (max-width: 767px) {
    .full-bg-wrapper .text-left {
         align-items: center;
         margin-left: 0;
         max-width: 100%;
    }
}

/**
* 滑動畫廊 scroll-gallery
*
* @date 2017-02-23 15:05:58
*/

.scroll-gallery {
    background-color: #fef9f4;
    padding-bottom: 100px;
    padding-top: 100px;
}

.scroll-gallery ul.scroll-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.scroll-gallery ul.scroll-container > li {
    margin-bottom: 100px;
}

.scroll-gallery ul.scroll-container > li:last-child {
    margin-bottom: 0;
}

.scroll-gallery ul.scroll-container > li .text-left,
.scroll-gallery ul.scroll-container > li .text-center,
.scroll-gallery ul.scroll-container > li .phone-picture {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.scroll-gallery ul.scroll-container > li .text-left {
    align-items: flex-start;
    text-align: left;
}

.scroll-gallery ul.scroll-container > li .phone-picture img {
    max-width: 300px;
}

.scroll-gallery ul.scroll-container > li .title {
    color: #000;
    font-size: 32px;
    margin: 0 0 20px 0;
}

.scroll-gallery ul.scroll-container > li .intro {
    color: #000;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

.scroll-gallery ul.scroll-container > li .intro p {
    color: #000;
    font-size: 16px;
    line-height: 25px;
}

.scroll-gallery ul.scroll-container > li .intro p:last-child {
    margin-bottom: 0;
}


/**
 * 服務項目 category-solution
 *
 * @date 2017-02-21 09:46:02
 */

.category-solution {
    margin-bottom: 50px;
}

.category-solution .bottom-dashed {
    border-bottom: 1px dashed #e2e2e2;
    padding-bottom: 5px;
}

.category-solution ul.solution-spec {
    margin-bottom: 40px;
}

.category-solution ul.solution-spec > li {
    border-bottom: 1px dashed #e2e2e2;
    color: #777;
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.category-solution ul.solution-spec > li:last-child {
    margin-bottom: 0;
}

.category-solution ul.solution-spec > li a {
    color: #404040;
    display: inline-block;
}

.category-solution ul.solution-spec > li a:hover {
    color: #0076f9;
}

.category-solution ul.solution-spec > li .icon {
    color: #404040;
    margin-right: 8px;
}

.category-solution ul.solution-spec > li h3,
.category-solution ul.solution-spec > li h4 {
    color: #a9a9a9;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.category-solution ul.solution-spec > li h3:after,
.category-solution ul.solution-spec > li h4:after {
    content: ' :';
}

.category-solution .client-logo img {
    width: 100%;
}

.category-solution .client-logo .logo-link {
    background-color: #0896b8;
    color: #fff;
    padding: 12px 15px;
}

.category-solution .client-logo .logo-link:hover {
    opacity: 0.8;
}

.category-solution .client-logo .logo-link a {
    color: #fff;
}


/**
 * 關於我們內頁 about-page
 *
 * @date 2017-02-21 12:01:28
 */

.about-page {
    margin-bottom: 50px;
}

.about-page ul.history-record > li {
    margin-bottom: 16px;
}

.about-page ul.history-record > li .date {
    border-bottom: 1px solid #f0f0f0;
    color: #404040;
    font-size: 16px;
    margin-bottom: 3px;
    padding-bottom: 8px;
}

.about-page ul.history-record > li .date .icon {
    margin-right: 8px;
}

.about-page ul.history-record > li .content {
    color: #777;
    margin: 0;
}

.about-page ul.history-record > li .content p:last-child {
    margin-bottom: 0;
}

.about-page .youtube-video {
    margin-bottom: 40px;
}

.about-page .youtube-video .video-intro {
    padding: 10px 10px 5px 10px;
}


/**
 * 聯絡我們內頁 contact-page
 *
 * @date 2017-02-21 16:33:19
 */

.contact-page {
    margin-bottom: 50px;
}

.contact-page .address-info {
    background-color: #f9f9f9;
    border: 1px solid #e2e2e2;
    margin-bottom: 40px;
    padding: 20px;
}

.contact-page .address-info a {
    display: inline-block;
}

.contact-page .address-info p {
    margin-bottom: 0;
}

.contact-page .page-form {
    margin-bottom: 20px;
}

.contact-page .page-form label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.contact-page .page-form label.require:after {
    color: #777;
    content: "*";
}

.contact-page .page-form input[type="text"],
.contact-page .page-form textarea {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    color: #777;
    border-radius: 5px;
    border-top: 2px solid #e2e2e2;
    border-left: 2px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    outline: none;
}

.contact-page .page-form input[type="text"] {
    width: 70%;
}

.contact-page .page-form textarea {
    width: 100%;
}

.contact-page .page-form input[type="text"]:focus,
.contact-page .page-form textarea:focus {
    border-color: #00a2e8;
}

.contact-page .page-form .button {
    width: 33.333%;
    margin-left: 33.333%;
    margin-right: 33.333%;
}

/**
 * 常見問題內頁 faq-page
 *
 * @date 2017-02-24 10:26:06
 */

.faq-page ul.list-arrow-circle {
    margin-bottom: 20px;
}

.faq-page ul.list-arrow-circle > li {
    color: #777;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.faq-page ul.list-arrow-circle > li:before {
    content: "\f105";
    color: #fff;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    height: 12px;
    top: 4.5px;
    left: 0;
    padding-right:3.2px;
    padding-left: 4.8px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
}


/**
 * 最新消息內頁 news-page
 *
 * @date 2017-02-24 13:41:41
 */


/**
 * 活動快訊首頁 event
 *
 * @date 2017-02-24 13:53:06
 */


/**
 * 活動快訊內頁 event-page
 *
 * @date 2017-02-24 14:21:42
 */


/**
 * 最新消息首頁 news-home
 *
 * @date 2017-03-23 12:12:12
 */

.news-home ul.list-article {
    margin-bottom: 40px;
}

.news-home ul.list-article > li {
    border-bottom: 1px dotted #c2c2c2;
    padding: 15px 0 20px 0;
}

.news-home ul.list-article > li:last-child {
    border-bottom: none;
}

.news-home ul.list-article > li h2,
.news-home ul.list-article > li h3 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

.news-home ul.list-article > li .date {
    color: #777;
    font-size: 18px;
    margin: 0 0 12px 0;
}

.news-home ul.list-article > li p {
    margin-bottom: 10px;
}

.news-home ul.list-article > li .continue-read {
    color: #0076f9;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.news-home ul.list-article > li .continue-read:after {
    content: "\f178";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin-left: 8px;
}

.news-home ul.list-article > li .continue-read:hover {
    border-bottom: 1px dotted #e8554e;
    color: #e8554e;
}


/**
 * 採購價錢內頁 price-page
 *
 * @date 2017-03-27 16:06:33
 */

.price-page .integrated-table {
    border-spacing: 0;
    color: #777;
    font-size: 15px;
    margin-bottom: 40px;
    width: 100%;
}

.price-page .integrated-table thead {
    border: none;
}

.price-page .integrated-table thead > tr > th {
    background-color: #808080;
    border-bottom: 1px solid #777;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 15px 0;
}

.price-page .integrated-table thead > tr > th:first-child {
    background-color: transparent;
    border-bottom: none;
}

.price-page .integrated-table tbody > tr {
    background-color: #e2e2e2;
}

.price-page .integrated-table tbody > tr:nth-child(2n) {
    background-color: #f0f0f0;
}


.price-page .integrated-table tbody > tr > td {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 12px;
    text-align: center;
}

.price-page .integrated-table tbody > tr > td:first-child {
    background-color: #e2e2e2;
    text-align: left;
}

.price-page .integrated-table tbody > tr > td .remark {
    color: #a9a9a9;
    display: inline-block;
    font-size: 15px;
}

.price-page .integrated-table tbody > tr.emphasize {
    background-color: #909090;
}

.price-page .integrated-table tbody > tr.emphasize > td {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 25px 12px;
}

.price-page .integrated-table tbody > tr.emphasize > td:first-child {
    background-color: #e2e2e2;
    color: #404040;
    font-size: 15px;
}

.price-page .integrated-table tbody > tr.emphasize > td .remark {
    color: #fff;
    display: block;
    font-size: 15px;
}

.price-page .integrated-table thead > tr > th.bright {
    background-color: #0076f9;
    border-bottom: 1px solid #006ee8;
}

.price-page .integrated-table tbody > tr > td.bright {
    background-color: #499fff;
}


.price-page .integrated-table.four-column thead > tr > th {
    width: 25%;
}

.price-page .integrated-table.three-column thead > tr > th {
    width: 33.333%;
}
